<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Simple List Contacts</title>
</head>
<body>
<div>
<header th:replace="~{fragment/header_fragment.html :: headerFragmant}"></header>
<h2 th:text="'Contact '+${action}"></h2>
<form th:action="@{/contact/action(${action})}" method="post">
    <input type="hidden" name="id" th:value="${contact.id}">
    <div>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstName" required th:value="${contact.firstName}">
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastName" required th:value="${contact.lastName}">
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required th:value="${contact.phone}">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required th:value="${contact.email}">
    </div>
    <button type="submit">Save</button>
</form>
</div>
<footer th:replace="~{fragment/footer_fragment.html :: footerFragmant}"></footer>
</body>
</html>