<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Simple List Contacts</title>
</head>
<body>
<header th:replace="~{fragment/header_fragment.html :: headerFragmant}"></header>
<div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.firstName}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.phone}"></td>
        <td th:text="${contact.email}"></td>
        <td>
            <a th:href="@{/contact/edit/{id}(id=${contact.id})}">Edit</a>
            <a th:href="@{/contact/delete/{id}(id=${contact.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/contact/create">Create Contact</a>
</div>
<footer th:replace="~{fragment/footer_fragment.html :: footerFragmant}"></footer>
</body>
</html>